<%-include ../partials/header.ejs %>
<%-include ../partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
            <a href="/Gigs/list">List gigs</a><br>
            <a href="/Gigs/add">Add a gig</a><br>
            <a href="/Gigs/edit">Edit a gig</a><br>
            <a href="/Gigs/delete">Delete a gig</a>

<!--Nothing has to be here, as the delete function is handled within mongoDB and the list.ejs file.-->

<%-include ../partials/footer.ejs %>