<%-include ../partials/header.ejs %>
<%-include ../partials/main_nav.ejs %>
    <a href="../home">HOME</a><br>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
            <a href="/Gigs/list">List gigs</a><br>
            <a href="/Gigs/add">Add a gig</a><br>
            <a href="/Gigs/edit">Edit a gig</a><br>
            <a href="/Gigs/delete">Delete a gig</a>

<!--Main content for displaying my database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Performer</th>
                    <th class="text-center col-4">Description</th>
                    <th class="text-center col-2">Show Date</th>
                    <th class="text-center col-1">Show Time</th>
                    <th class="text-center col-1">Show Duration</th>
                    <th class="text-center col-2">Ticket Price</th>
                </tr>
                <!--for/while loop-->
                <% for(let count=0; count<GigList.length;count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= GigList[count].name %></td>
                        <td class="text-center col-2"><%= GigList[count].author %></td>
                        <td class="text-center col-1"><%= GigList[count].published %></td>
                        <td class="text-center col-4"><%= GigList[count].description %></td>
                        <td class="text-center col-1"><%= GigList[count].price %></td>
                        <td class="text-center col-1"><%= GigList[count].price %></td>
                    </tr>
                <% } %>
            </table>

        </div>
    </div>
</main>
<%-include ../partials/footer.ejs %>